$textColor: grey;

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

.app {
  @include flex(column);
  padding: 0 10px;
  margin: 0 auto;

  .app__block_splitted {
    @include flex(row);

    .app__paragraph {
      padding: 0 10px;
      margin: 0;
    }

    .app__paragraph_underlined {
      color: var(--text-color);

      &:hover {
        // sass approach
        transition: (0.3s);
        color: $textColor;
      }
    }
  }

  .app__block {
    padding: 10px;
    color: $textColor; // sass approach
    @include flex(column);

  }

}